/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define DFLT 0
#define LWR 1
#define RSE 2
#define ADJ 3
#define GAME 4


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | [    |
// | CAPS |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT F16 |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT F17|
//                    | GUI | SPC | LWR |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q       &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp LBKT
   &kp CAPS  &kp A       &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &mt LSHFT ESC  &mt LCTRL Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &mt RCTRL FSLH &mt RSHFT F15
        &mt LALT BSPC &mt LGUI SPACE &mo LWR     &mo RSE &mt RGUI RET &mt RALT DEL
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4        |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
// | CAPS |     |     |     | sreenshot |     |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |  LCTRL Z |     |     |           |     |   |     |     |     |     |     |      |
//                    | GUI |           | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB  &kp N1       &kp N2      &kp N3    &kp N4                 &kp N5                  &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &none 
   &kp CAPS   &trans       &trans      &trans    &kp LG(LC(LS(N4)))     &kp LG(LS(N4))          &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT  &mt LCTRL Z    &trans      &trans    &trans                 &trans                  &trans   &trans   &trans &trans    &mt RCTRL FSLH  &kp RSHFT 
                           &mt LALT BSPC    &mt LGUI SPACE     &mo ADJ                          &mo ADJ  &mt RGUI RET &kp RALT
                        >;
                };

                raise_layer {
// ------------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  {  |  }  | "|" |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  [  |  ]  |  \ |  ~  | // TODO: Fix this row when &mkp is committed
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT               &kp CARET  &kp AMPS      &kp KP_MULTIPLY  &kp LPAR    &kp RPAR &none 
   &kp CAPS  &trans    &trans  &trans    &trans    &trans                  &kp MINUS  &kp EQUAL     &kp LBRC         &kp RBRC    &kp PIPE &kp GRAVE
   &kp LSHFT &kp LCTRL &trans  &trans    &trans    &trans                  &kp UNDER  &kp KP_PLUS   &kp LBKT         &kp RBKT    &kp BSLH &kp TILDE
                                   &mt LALT BSPC &mt LGUI SPACE &mo ADJ    &mo ADJ &mt RGUI RET &kp RALT
                        >;
                };

                adjust_layer {
// -----------------------------------------------------------------------------------------------
//       | RGBTOG| BT0 | BT1 | BT2 | BT3  | BT4 |   | BT4 | BT3  | BT2 | BT1 | BT0 |       |                          
//       |       |     |     |     |      |     |   |     |      |     |     |     |       |
//       |       |     |     |     | F1   |     |   |     | F2   |     |     |     |       |
//                           |     | BTCLR|     |   |     | BTCLR|     |
                        bindings = <
   &none   &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3 &bt BT_SEL 4   &bt BT_SEL 4 &bt BT_SEL 3 &bt BT_SEL 2    &bt BT_SEL 1    &bt BT_SEL 0    &rgb_ug RGB_TOG
   &none   &none           &none           &none           &none        &none          &none        &none        &none           &none           &none           &none 
   &none   &none           &none           &none           &kp F1       &none          &none        &kp F2       &none           &none           &none           &tog GAME 
                                                                 &trans &bt BT_CLR &trans         &trans &bt BT_CLR &trans
                        >;
                };
                game_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  Y  |  U   |  I  |  O  |  P  | [    |
// | CAPS |  A  |  W  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT F16 |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | SHFT F17|
//                    | GUI | SPC | LWR |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB     &kp N1    &kp N2    &kp N3   &kp N4   &kp N5            &kp Y     &kp U     &kp I       &kp O      &kp P      &kp LBKT
   &kp ESC     &kp Q     &kp W     &kp E    &kp F    &kp G             &kp H     &kp J     &kp K       &kp L      &kp SEMI   &kp SQT
   &kp LSHFT   &kp A     &kp S     &kp D    &kp V    &kp B             &kp N     &kp M     &kp COMMA   &kp DOT    &kp RALT   &kp RET
                               &kp RCTRL &kp SPACE &mo LWR             &mo RSE &kp RGUI  &kp DEL
                        >;
                };
        };
        
};
